/* ----------------------------------------------------------
    Student ID: 6288103
    Student Name: Nopparat Pengsuk
    Section: 2
 ------------------------------------------------------------ */


/* Starts your CSS here */

html,
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header,
footer {
    margin: 0;
    background: #2E4053;
    color: #F8F9F9;
    text-align: center;
}

header h1 {
    margin: 0;
    padding: 20px;
}

.navbar {
    background: #5D6D7E;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: inline-flex;
}

.navbar li {
    padding: 14px 20px;
}

.navbar li a {
    color: #F8F9F9;
    text-decoration: none;
}

.navbar li:hover {
    display: inline-block;
    background-color: #85929E;
}

article {
    width: 80%;
    margin: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 20px 0;
}

.images {
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
}

img {
    height: 300px;
    border-radius: 10px;
}

img:hover {
    opacity: 0.8;
}

figcaption {
    font-style: italic;
}

a.top {
    display: block;
    text-align: center;
    background: #D7DBDD;
    text-decoration: none;
}

a:hover.top {
    background: #48C9B0;
}

footer p {
    padding: 5px;
}